#blocoSlider {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    border: solid 1px red;
}

.block {
    display: block!important;
    position: relative;
    top: 0px;
    animation:animateleft 0.4s
}

@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    } to{
        left:0;
        opacity:1
    }
}
.aparaceSlider {
    width: 100%!important;
    transition-duration: 1s;
}

.desapareceSlider {
    width: 0px!important;
    transition-duration: 1s;
}

#img1, #img2, #img3, #img4 {
    position: relative;
    top: 0px;
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: 100% 100%;
}

#img1{
    background-image: url("../img/1.jpg");
} 

#img2{
    background-image: url("../img/2.jpg");
}

#img3{
    background-image: url("../img/3.jpg");
}

#img4{
    background-image: url("../img/4.jpg");
}

#blocoSlider h2 {
    position: absolute;
    padding: 5px;
    background-color: white;
}

/*
.w3-content{
    margin-left:auto;
    margin-right:auto
    max-width:980px
    margin-top:16px!important;
    margin-bottom:16px!important
}

.w3-animate-left{
    position:relative;
    animation:animateleft 0.4s
}

@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    } to{
        left:0;
        opacity:1
    }
}
*/