* {
    padding: 0px;
    margin: 0px;
}

/*Menu superior*/
#blocoMenuSup {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    width: calc(100% - 40px);
    z-index: 999;
}

#logo img {
    width: 70px;
    height: 70px;
}

#blocoMenuSup li {
    color: white;
    display: inline-block;
    font-size: 27px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

#blocoMenuSup li:hover {
    color: blue;
}

/*Submenu*/
#subMenu::after {
    content: "▿";
}

#subMenu ul {
    z-index: 999;
    display: none;
    position: absolute;
    background-color: black;
    padding: 5px;
}

#subMenu li {
    display: block!important;
    font-size: 20px!important;
    font-style: italic;
}

/*Menu superior mobile*/
#menu {
    display: none;
    padding: 5px;
    border: ridge 2px #3393e74f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@media only screen and (max-width:700px){
    #menu {
        display: block;
    }

    #menuSup{
        display: none;
        position: absolute;
        right: 0px;
        top: 80px;
        z-index: 999;
        background-color: black;
        padding: 5px;
    }

    #blocoMenuSup ul ul {
        top: 40px;
    }
    
    #blocoMenuSup li {
        display: block;
    }
}

@media only screen and (min-width:701px){
    #menuSup {
        display: block!important;
    }
}

/*Slider*/
#blocoSlider {
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.233);
    border-bottom: 4px dashed black;
}

.block {
    display: flex!important;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    animation:animateleft 0.4s
}

@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    } to{
        left:0;
        opacity:1
    }
}
.aparaceSlider {
    width: 100%!important;
    transition-duration: 1s;
}

.desapareceSlider {
    width: 0px!important;
    transition-duration: 1s;
}

#img1, #img2, #img3, #img4 {
    position: relative;
    top: 0px;
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

#img1{
    background-image: url("../img/1.jpg"); 
} 

#img2{
    background-image: url("../img/2.jpg");
}

#img3{
    background-image: url("../img/3.jpg");
}

#img4{
    background-image: url("../img/4.jpg");
}

#blocoSlider hgroup {
    position: absolute;
    width: 65%;
    padding: 5px;
}

#blocoSlider h2 {
    font-size: 40px;
    padding: 7px;
    margin: 5px;
    background-color: orange;
    display: inline-block;
    color: white;
    position: relative;
    animation:animateleft 0.4s;
}

#blocoSlider p {
    font-size: 25px;
    padding: 7px;
    margin: 5px;
    background-color: white;
    display: inline-block;
    position: relative;
    animation:animateleft 0.8s;
}

#avancar, #voltar {
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 50%;
    position: absolute;
    padding: 5px;
    display: none;
    justify-content: center;
    align-items: center;
}

#avancar img, #voltar img {
    width: 40px;
    height: 40px;
}

#avancar {
    right: 0px; 
}

/*Corpo*/
article {
    background-color: rgba(0, 0, 0, 0.233);
}

#principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#blocoResumos {
    width: calc(100% - 245px);
    background-color: white;
    padding: 20px 0px 20px 0px;
}

#menuLateral {
    width: 245px;
    margin-left: 5px;
    background-color: white;
    position: sticky;
    top: 85px;
    padding-bottom: 20px;
}

#resumos {
    width: 95%;
    margin: 0 auto;
}

.resumo {
    width: calc(50% - 15px);
    height: 500px;
    border: blue 1px solid;
    margin: 5px;
    display: inline-block;
}

#menuLateral ul {
    margin: 5px;
}

#menuLateral li {
    list-style: none;
    cursor: pointer;
    padding: 2.5px;
    border-bottom: dotted 1px gray;
}

#menuLateral li:hover {
    color: blue;
}

#menuLateral h2 {
    color: blue;
}

#artRecBloco, #artPopBloco, #categoBloco {
    margin: 0px 5px 0px 5px;
    padding-top: 20px;
}

/*Roda-pé*/
footer {
    background-color: black;
    width: 100%;
    height: 130px;
    padding: 15px 0px 15px 0px;
    display: flex;
    align-items: center;
}

#footerItens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999;
    bottom: 0px;
}

#footerItens p {
    color: white;
    font-size: 30px;
    font-style: italic;
    width: 100%;
    text-align: center;
}

#footerItens img {
    padding: 0px 5px 0px 0px;
    cursor: pointer;
}








